{% assign content_length = post.content | number_of_words %}
cl: {{ content_length }}
se: {{ site.excerpts }}
<div class="post" id="post_{{ post.id }}">
  <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
  <p>{{ post.content | truncatewords:site.excerpts }}</p>
  <p class="post-footer"><span class="meta"><span class="timestamp">{{ post.date | date_to_string }}</span> • 
    <span class="comment-count">0 comments</span></span> • 
    <a href="{{ post.permalink }}">{% if content_length > site.excerpts %}Continue reading &raquo;{% else %}Permalink{% endif %}</a></p>
</div>