{% capture content_length %}{{ post.content | number_of_words }}{% endcapture %}
cl: {{ content_length }}
se: {{ site.excerpt_length }}
<div class="post" id="post_{{ post.id }}">
  <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
  <p>{{ post.content | truncatewords:site.excerpt_length }}</p>
  <p class="post-footer"><span class="meta"><span class="timestamp">{{ post.date | date_to_string }}</span> • 
    <span class="comment-count">0 comments</span></span> • 
    <a href="{{ post.permalink }}">{% if content_length > site.excerpt_length %}Continue reading &raquo;{% else %}Permalink{% endif %}</a></p>
</div>